.hide-on-phone {
    @include breakpoint(xs-only) {
        display: none;
    }
}

.hide-on-small {
    @include breakpoint(sm-only) {
        display: none;
    }
}

.hide-on-small-and-up {
    @include breakpoint(sm) {
        display: none;
    }
}

.hide-on-medium {
    @include breakpoint(md-only) {
        display: none;
    }
}

.hide-on-medium-and-up {
    @include breakpoint(md) {
        display: none;
    }
}

.hide-on-large {
    @include breakpoint(lg) {
        display: none;
    }
}